
#main_component{
  position: relative;
  min-height: 100vh;
}

#content_wrap {
  /* padding-bottom: 280px;   */
    /* Footer height */
}

#footer_container {
  /* position: absolute;
  z-index: -1;
  bottom: -15px;
  width: 100%; */
  height:130px;            /* Footer height */
  background: rgb(25,102,22);
  background: linear-gradient(90deg, rgba(25,102,22,1) 1%, rgba(0,179,60,1) 53%, rgba(1,255,0,1) 100%);
  padding-top: 55px;
  /* margin-top: 55px; */
}





.header_font {
  font-family: 'Philosopher', sans-serif;
  font-size: large;
}

.section_title{
  text-transform: uppercase;
  font-family: 'Philosopher', sans-serif;
  font-size: 30px;
  color: #00505F;
}


/* unvisited link */
.zcaa_link:link {
  color: #0091AC;
}

/* visited link */
.zcaa_link:visited {
  color: green;
}

/* mouse over link */
.zcaa_link:hover {
  color: rgb(121, 121, 212);
}

/* selected link */
.zcaa_link:active {
  color: rgb(137, 137, 223);
}


#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  /* padding-bottom: 2.5rem;     */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}